section {
    margin-top: 80px;
}
body{
    overflow-x: hidden;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
.sec1 {
    margin-top: 100px;
}
body{
    overflow-x: hidden;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
.icon {
    padding: 5px;
}
.justify {
    text-align: justify;
}
#obj {
    margin-top: 60px;
}
.stat-container {
    background: url("../img/s.jpg");
    background-position: center;
    background-size: contain;
    height: 300px;
    padding-top: 90px;
    margin: 60px 0px 60px 0px;
}
.percent {
    padding: 60px;
    font-size: 40px;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 50%;
}
.list li{
    padding: 10px;
}
.stat-p {
    padding-top: 60px;
    font-size: 18px;
    color: white;
}